.login{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin: auto;
  width: 30vw;

  &__form{
    margin-top: 10px;
    display: flex;
    flex-direction:column
  }
}