.modal{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  &__header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .btn-close{
      background-color:transparent;
      padding:5px;
      border:none;
      &:hover {
        cursor: pointer;
      }
    }
  }
  
  &__content{
    width: 500px;
    background-color: white;
  }

  &__body{
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
}