@import "./theme.scss";

%flex {
  display: flex;
}

%btn {
  padding: 10px;
  font-family: $font_primary;
  font-size: 20px;
  text-transform: uppercase;
  color: $color_label_btn_default;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  margin: 10px 0px;
  &:hover {
    cursor: pointer;
  }
}

body {
  margin: 0;
  background-color: $bg_color;
  font-family: $font_primary;
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #fff;
}
body::-webkit-scrollbar {
  width: 0px;
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d0d0d0;
}

h2 {
  color: $color_secondary;
  font-size: 18px;
}

input{
  border: none;
  padding:15px;
  margin: 10px 0px;
  font-family: $font_primary;
  font-size: 16px;
  font-weight:400;
  border-radius: 16px;
  background-color: $bg_color_textinput;
  color: $color_textinput;
}

label {
  font-family: $font_primary;
  font-size: 18px;
  color: $color_label_textinput;
}

.textinput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 0px;

  &__icon{
    display:flex;
    flex-direction:row;
    align-items:center;
    background-color: $bg_color_textinput;
    border-radius: 16px;
    padding-left: 15px;

    & input{
      margin-left: 5px;
      padding: 10px;
      width: 80%;
    }
  }

  & label{
    margin-left: 10px
  }
}

.column-center-start {
  @extend %flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.column-start-start {
  @extend %flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.column-start-between {
  @extend %flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.column-center-center {
  @extend %flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column-center-around {
  @extend %flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.row-center-center {
  @extend %flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row-center-around {
  @extend %flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.row-center-between {
  @extend %flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.h-full{
  height:100vh;
}

.w-full{
  width:100vw;
}

.full-screen{
  height:100vh;
  width:100vw;
}

.overflow-none{
  overflow: hidden;
}

.btn-primary {
  @extend %btn;
  background-color: $color_primary_btn;
}


