.content-tools{
  background-color: $bg_color_secondary;
  padding: 8px;
  border-radius: 5px;
  width: 30vw;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  height: $height_container_studio;

}