select{
  width: 100%;
  padding: 8px;
  background-color: var(--bg_color_textinput);
  border-radius: 5px;
  border: 1px solid var(--color_textinput_border);
  font-family: var(--font_primary);
  color: var(--color_textinput);
  font-size: 16px;
  margin: 5px 0px;

  &:hover{
    cursor: pointer;
  }
}