input {
  border: none;
  padding: 15px;
  margin: 10px 0px;
  font-family: $font_primary;
  font-size: 16px;
  font-weight: 400;
  border-radius: 16px;
  background-color: $bg_color_textinput;
  color: $color_textinput;
  border: 1px solid $color_textinput_border;
}

textarea{
  border: 0.5 solid #fff;
  padding: 15px;
  font-family: $font_primary;
  font-size: 16px;
  border-radius: 8px;
  background-color: $bg_color_textinput;
  color: $color_textinput;
  height: 94px;
  resize: none;

}