input {
  border: none;
  padding: 15px;
  margin: 10px 0px;
  font-family: var(--font_primary);
  font-size: 16px;
  font-weight: 400;
  border-radius: 16px;
  background-color: var(--bg_color_textinput);
  color: var(--color_textinput);
  border: 1px solid var(--color_textinput_border);
}

textarea{
  border: 0.5 solid #fff;
  padding: 15px;
  font-family: var(--font_primary);
  font-size: 16px;
  border-radius: 8px;
  background-color: var(--bg_color_textinput);
  color: var(--color_textinput);
  height: 94px;
  resize: none;

}