h2 {
  color: var(--color_secondary);
  font-size: 18px;
}

p {
  font-family: var(--font_primary);
  color: var(--color_paragraph);
  font-size: 18px;
}

label {
  font-family: var(--font_primary);
  font-size: 18px;
  color: var(--color_label_textinput);
  margin: 5px;
}