.studio {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__timeline {
    margin: 8px 0px;
    padding: 5px;
  }
}
