%btn {
  padding: 12px;
  font-family: var(--font_primary);
  font-size: 20px;
  text-transform: uppercase;
  color: var(--color_label_btn_default);
  border: none;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

%btn_outline{
  padding: 5px 10px;
  font-size: 18px;
  background-color: transparent;
  border-radius: 20px;

  &:hover {
    cursor: pointer;
  }
}

%btn_rounded{
  padding:8px 15px;
  border: none;
  border-radius: 18px;
  font-size: 18px;
  
  &:hover{
    cursor: pointer;
  }
}

// contained
.btn-contained-primary {
  @extend %btn;
  background-color: var(--color_primary_btn);
}
.btn-contained-secondary {
  @extend %btn;
  background-color: var(--color_primary_btn);
}

// outlines
.btn-outline-primary {
  @extend %btn_outline;
  color: var(--color_primary_btn);
  border: 1.5px solid var(--color_primary_btn);
}

.btn-outline-secondary {
  @extend %btn_outline;
  border: 1.5px solid var(--color_secondary_btn);
  color: var(--color_secondary_btn);
}
// rounded

.btn-rounded-primary{
  @extend %btn_rounded;
  background-color: var(--color_primary_btn);
  border: 1.5px solid var(--color_primary_btn);
  color: #1F2044;
}


.btn-rounded-secondary {
  @extend %btn_rounded;
  border: 1.5px solid var(--color_secondary_btn);
  color: var(--color_secondary_btn);
}