// texts
.t-a-right {
  text-align: right;
}
.t-a-center {
  text-align: center;
}

// font-sizes
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

// texts colors
.color-primary {
  color: var(--color_primary_paragraph) !important;
}


.link {
  text-decoration: none;
  font-family: var(--font_primary) !important;
  font-size: 16px !important;
  color: var(--color_label_textinput);
}

// text line height

.leading-0{
  line-height: 0px !important;
}

